.gg-info {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 1em;
  height: 1em;
  border: 2px solid;
  border-radius: 40px;
}

.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}

.gg-info::after {
    bottom: 2px;
    height: 8px
}

.gg-info::before {
    height: 2px;
    top: 2px
}


@keyframes spinner-two-alt {
  0% {transform: rotate(0deg)}
  to {transform: rotate(359deg)}
}

.gg-spinner-two-alt,.gg-spinner-two-alt::before {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px
}

.gg-spinner-two-alt {
  transform: scale(var(--ggs,1));
  position: relative
}

.gg-spinner-two-alt::before {
  content: "";
  position: absolute;
  border-radius: 100px;
  animation: spinner-two-alt 1s cubic-bezier(.6,0,.4,1) infinite;
  border: 3px solid transparent;
  border-bottom-color: currentColor;
  border-top-color: currentColor
}
