$fj-icons-font-family: "fj" !default;
$fj-icons-font-path: "~fj-vue/src/fonts" !default;

$fj-globe: "\e901";
$fj-chain-broken: "\e90d";
$fj-chain: "\e90e";
$fj-angle-double-right: "\e90f";
$fj-angle-double-left: "\e910";
$fj-info: "\e90b";
$fj-info-circle: "\e90c";
$fj-arrow-circle-o-right: "\e907";
$fj-long-arrow-right: "\e908";
$fj-arrow-circle-right: "\e909";
$fj-arrow-right: "\e90a";
$fj-spinner: "\e900";
$fj-caret-right: "\e902";
$fj-caret-left: "\e903";
$fj-caret-up: "\e904";
$fj-caret-down: "\e905";
$fj-copy: "\e906";

@font-face {
  font-family: '#{$fj-icons-font-family}';
  src:  url('#{$fj-icons-font-path}/#{$fj-icons-font-family}.eot?3srmr');
  src:  url('#{$fj-icons-font-path}/#{$fj-icons-font-family}.eot?3srmr#iefix') format('embedded-opentype'),
    url('#{$fj-icons-font-path}/#{$fj-icons-font-family}.ttf?3srmr') format('truetype'),
    url('#{$fj-icons-font-path}/#{$fj-icons-font-family}.woff?3srmr') format('woff'),
    url('#{$fj-icons-font-path}/#{$fj-icons-font-family}.svg?3srmr##{$fj-icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$fj-icons-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fj-globe {
  &:before {
    content: $fj-globe;
  }
}
.fj-chain-broken {
  &:before {
    content: $fj-chain-broken;
  }
}
.fj-chain {
  &:before {
    content: $fj-chain;
  }
}
.fj-angle-double-right {
  &:before {
    content: $fj-angle-double-right;
  }
}
.fj-angle-double-left {
  &:before {
    content: $fj-angle-double-left;
  }
}
.fj-info {
  &:before {
    content: $fj-info;
  }
}
.fj-info-circle {
  &:before {
    content: $fj-info-circle;
  }
}
.fj-arrow-circle-o-right {
  &:before {
    content: $fj-arrow-circle-o-right;
  }
}
.fj-long-arrow-right {
  &:before {
    content: $fj-long-arrow-right;
  }
}
.fj-arrow-circle-right {
  &:before {
    content: $fj-arrow-circle-right;
  }
}
.fj-arrow-right {
  &:before {
    content: $fj-arrow-right;
  }
}
.fj-spinner {
  &:before {
    content: $fj-spinner;
  }
}
.fj-caret-right {
  &:before {
    content: $fj-caret-right;
  }
}
.fj-caret-left {
  &:before {
    content: $fj-caret-left;
  }
}
.fj-caret-up {
  &:before {
    content: $fj-caret-up;
  }
}
.fj-caret-down {
  &:before {
    content: $fj-caret-down;
  }
}
.fj-copy {
  &:before {
    content: $fj-copy;
  }
}
