@import "~fj-vue/src/sass/variables.scss";

$body-bg:                   $light;
$body-color:                $gray-900;

$font-size-base:            1.1rem;
$line-height-base:          1.6;

$theme-colors: (
  "primary": #007bff,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8,
  "dark": #343a40,
  "light": #f8f9fa,
  "success": #28a745,
  "secondary": #ddd
);

$lead-font-size:            $font-size-base * 1.35;
$lead-font-weight:          300;

@import "~fj-vue/src/sass/framework.scss";

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

section {
  margin: 50px 0;
}

section:first-child {
  margin-top: 0;
}

section:last-child {
  margin-bottom: 0;
}
