@import "~vuep/dist/vuep.css";

@import "~framework/sass/variables.scss";

@import "~framework/sass/framework.scss";

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

section {
  margin: 50px 0;
}

section:first-child {
  margin-top: 0;
}

section:last-child {
  margin-bottom: 0;
}
