@import "~fj-vue/src/sass/variables.scss";

$body-bg:                   $light;
$body-color:                $gray-900;

$font-size-base:            1.1rem;
$line-height-base:          1.6;

@import "~fj-vue/src/sass/framework.scss";

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

section {
  margin: 50px 0;
}

section:first-child {
  margin-top: 0;
}

section:last-child {
  margin-bottom: 0;
}
